@font-face {
    font-family: dolbak;
    src: url(assets/fonts/TheDolbak-Brush.ttf);
}

/* 
==============
   Global Styles
============== 
*/

:root {
    --color700: black;
    --color400: grey;
    --textColor: white;
}

img{
    max-width: 100%;
}

i{
    transition: transform .3s, -webkit-transfrom .3s;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

html, body{
    margin: 0;
    min-height: 100% !important;
    min-width: 100%;
    overflow: auto;
    font-family: dolbak, sans-serif;
    color: var(--textColor); 
}


html{
    /* background: linear-gradient(to bottom, #00A300 0%, #002642 30% 50%, #FF9900 85%, #EEEE00 95%); */
    background-image: url(assets/25pxSpace_blue.png);
    /* background-size: contain; */
}

header{
    position: fixed;
    top: 0;

    width: 100%;

    background-color: var(--color700);
    color: inherit;
    
    border-bottom: black solid 3px;
    box-shadow: 0 0 0 4px currentColor,
                0 0 0 7px #000; 
}

body{
    background-color: rgba(0,0,0,.2);
    color: inherit;
}



.container{
    width: 600px;

    margin: 0 auto;
    padding: .4em 2em;
}

.section{
    margin-top: 2rem;
    background: rgb(255, 255, 255);
    color: inherit;
    border: black solid 3px;
    box-shadow: 0 0 0 4px currentColor,
                0 0 0 7px #000;
}
    header .section{
        border: none;
    }
    .section::nth-child(3), .section::nth-child(4){
        background: rgb(8, 8, 8);
    }
    .section:first-of-type{
        margin-top: 7rem;
    }
    .section:last-of-type{
        margin-bottom: 2rem;
    }

.news{
    background-color: black;
    text-align: center;
}
    .news h1{
        text-transform: uppercase;
        margin: 0;
        border-bottom: solid 2px currentColor;
        font-size: 3rem;
    }
    .news p{
        margin: 0;
        padding: 1em;
        font-size: 2rem;
    }
/* Components */
/*==========================================================*/

/*Navbar*/
/*=============================*/
nav{
    display: flex;
    flex-direction: column;
    visibility: visible;
    padding: .4em 0;
    justify-content: center;

    font-size: 25px;
    letter-spacing: .15em;
    cursor: pointer; 
}

.nav__link, 
.nav__dropdown, 
.nav__dropdown-group{
    display: block;
    text-decoration: none;
    color: inherit;
    padding: .1em;
    padding-bottom: .3em;
    border-bottom: solid 2px var(--color700);
}

.nav_homeBtn{
    padding: .1em 0em;
    padding-bottom: .3em;
}

.links{
    display: none;
}

.navBtn{
    position: fixed;
    top: .6em;
    right: 1.4em;
}

.nav__dropdown-group{
    padding-bottom: .2em;
}

.nav .nav__link:first-child{
    margin-left: 0;
}

/* dropdown */
.nav__dropdown{
    display: block;
}
.nav__dropdown-name, .nav__dropdown-group-name{
    text-decoration: none;
    color: inherit;
}

.nav__dropdown-links{
    visibility: hidden;
    display: none;
    
    top: 2.49em;
    margin-left: .5em;
    padding: .5em;
    background-color: var(--color700);
}
    .nav__dropdown-links .nav__link{
        margin: 0;
    }

.nav__dropdown-group-links{
    display: none;
    padding-left: 1em;
    padding-top: .5em;
}
    .nav__dropdown-group-links *{
        padding: .5em 0;
        border-bottom: solid 2px currentColor;
    }

.nav__active_visible + *{
    visibility: visible;
}

.nav__active_block + *{
    display: block;
}

.nav__active_visible i,
.nav__active_block i{
    transform: rotate(180deg);
    
}

.nav__dropdown-group-name i,
.nav__dropdown-name i{
    margin-left: -7px;
}

/*BANNER*/
/*=============================*/
#banner{
    max-width: 100%;
    height: auto;
    border-bottom: black solid 3px;
    display: block;
}

/*SOCIAL BUTTONS*/
/*=============================*/
#socialBtns{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.socialBtn{
    flex: calc(33% - 7.5px * 2 - 5px * 2 - 3px * 2);

    margin: 7.5px;
    padding: 10px 5px;
    border-radius: 5px;

    font-size: 25px;

    text-decoration: none;

    background: white;
    color: black;
    border: 3px solid black;
}

.socialBtn *{
    padding: 5px;
    
}

#sbTwitter{
    border-color: rgb(29, 161, 242);
    color: rgb(29, 161, 242);
}

#sbTwitter:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgb(29, 161, 242);
}

#sbYouTube{
    color: #c4302b;
    border-color: #c4302b;
}

#sbYouTube:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: #c4302b;
}

#sbTwitch{
    color: #6441a5;
    border-color: #6441a5;
}

#sbTwitch:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: #6441a5;
}

#sbReddit{
    border-color: #FF5700;
    color: #FF5700;
}

#sbReddit:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: #FF5700;
}

#sbPatreon{
    color: #f96854;
    border-color: #f96854;
}

#sbPatreon:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: #f96854;
}

#sbDiscord{
    color: #7289da;
    border-color: #7289da;
}

#sbDiscord:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: #7289da;
}

#sbCallousRow{
    flex: calc(50% - 5px*2 - 3px*2 - 7.5px*2);

    color: #e416fb;
    border-color: #e416fb;
    background: #080808;
}

#sbCallousRow img{
    width: 35px;
    padding: 0px 5px;
}

#sbCallousRow:hover{
    border-color: #080808;
    color: #080808;
    background: #e416fb;
}

#sbCallousRow:hover img{
    filter: brightness(0);
}

#sbWorldAnvil{
    flex: calc(50% - 5px*2 - 3px*2 - 7.5px*2);

    color: #FFFFFF;
    border-color: #FFFFFF;
    background: #c4302b;
}

#sbWorldAnvil img{
    width: 30px;
    padding: 0px 5px;
}

#sbWorldAnvil:hover{
    border-color: #c4302b;
    color: #c4302b;
    background: #FFFFFF;
}

#sbWorldAnvil:hover img{
    content:url("assets/worldAnvil.png");
}

#sbMerch{
    flex: 100%;

    color: #080808;
    border-color: #080808;
    background: #FFFFFF;
}

#sbMerch:hover{
    border-color: #FFFFFF;
    color: #FFFFFF;
    background: #080808;
}

/*Countdown*/
/*=============================*/
#countdown{
    font-size: 50px;
    text-align: center;

    background: black;

    color: inherit;
    padding: 5px;
}

#showName{
    margin-top: 10px;
    padding: 10px;
}

#cdDisplay{
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 100px;
}

/*SCHEDULE*/
/*=============================*/
#schedule{
    background-color: black;
}

#schedule h1{
    font-size: 3em;

    margin: 10px;
    margin-top: 0px;
    padding: 10px;

    color: inherit;
}

.row{
    min-height: 50px;
    height: auto;
    overflow:auto;
    margin: 0px 0px;
    padding: .5em;
    

    font-size: 35px;

    color: inherit;

    border-bottom: 2px solid currentColor;
}
    .row:first-of-type{
        border-top: 2px solid currentColor;
    }
    .row:last-of-type{
        border-bottom: none;
    }

.gameInfo{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .gameInfo:last-of-type{
        margin-bottom: 10px;
        border-bottom: none;
    }

    .gameInfo *{
        display: inline-block;
    }

    .gameInfo *:first-of-type{
        margin-right: .5em;
    }


.label{
    float: left;
    width: 22%;
    padding: 10px 0px;
}

.data{
    float: left;
    width: 78%;
}

@media only screen and (min-width: 550px){
    nav{
        flex-direction: row;
        justify-content: space-between;
    }

    .navBtn{
        display: none;
    }

    .links{
        display: flex;
        padding-left: 1.4em;
        flex-direction: row;
        justify-content: space-between;
    }

    .links > *{
        padding: 0 1em;
    }

    .nav__dropdown-group-links *{
        padding: .5em 0;
        border-bottom: none;
    }

    .nav__dropdown-links{
        margin-left: -.5em;
        position: absolute; 
        border-left: black solid 3px;
        border-right: black solid 3px;
        border-bottom: black solid 3px;
        box-shadow: 4px 4px currentColor,
                    -4px 4px currentColor,
                    7px 7px black,
                    -7px 7px black;
    }
    
    .nav__link:hover, 
    .nav__dropdown:hover{
        border-bottom: solid 2px currentColor;
    }
}

@media only screen and (max-width: 700px) {
    body{
        background-color: rgba(0,0,0,0);
    }

    .container{
        width: auto;
        margin: 0 10px;
    }

    #cdDisplay{
        font-size: 65px;
    }

    .label{
        padding-left: 0px;
    }

    .socialBtn{
        flex: calc(50% - 7.5px*2 - 5px*2 - 3px*2);
    }
}

@media only screen and (max-width: 600px) {
    #sbWorldAnvil{
        flex: 100%;
    }

    #sbCallousRow{
        flex: 100%;
    }

    #schedule h1{
        text-align: center;
    }

    .label{
        width: 100%;
        border-bottom: 2px solid rgb(55, 55, 55);
        border-top: 2px solid currentColor;
    }

    .row{
        border-bottom: none;
        padding: 0;
    }
        .row .label{
            text-align: center;
        }
        .row:first-of-type{
            border-top: none;
        }

    .data{
        width: calc(100% - .5em*2);
        border: none;
        padding: .5em .5em;
    }
}

@media only screen and (max-width: 450px) {
    #showName{
        font-size: 25px;
    }

    #schedule h1{
        width: 90%;
        
    }

    .socialBtn{
        flex: 100%;
    }
}