@font-face {
    font-family: dolbak;
    src: url(assets/fonts/TheDolbak-Brush.ttf);
}

html, body{
    margin: 0;
    min-height: 100% !important;
    min-width: 100%;
    overflow: auto;
    font-family: dolbak; 
}

html{
    /* background: linear-gradient(to bottom, #00A300 0%, #002642 30% 50%, #FF9900 85%, #EEEE00 95%); */
    background-image: url(assets/25pxSpace_blue.png);
    /* background-size: contain; */
}

body{
    background-color: rgba(0,0,0,.2);
}

nav{
    display: flex;
    padding: .5em .5em;
    color: black;

    font-size: 25px;
    letter-spacing: .15em;

    border: black solid 3px;
    /* margin-bottom: 5px; */
}
.nav__link{
    text-decoration: none;
    color: inherit;
    margin-left: 1em;
    padding: .1em;
}
.nav__link:hover{
    color: #000000;
}
.nav__link:first-child{
    margin-left: 0;
}

.container{
    width: 600px;

    margin: 0 auto;
    padding: 0 30px;
}

.section{
    margin: 30px 0px;
    background: white;
    color: black;
    border: black solid 3px;
    box-shadow: 0 0 0 4px white,
                0 0 0 7px #000; 
}
    header .section{
        border: none;
    }
    .section::nth-child(3), .section::nth-child(4){
        background: rgb(8, 8, 8);
    }

/*BANNER*/
/*=============================*/
#banner{
    max-width: calc(100% - 2 * 3px);
    height: auto;
    border: black solid 3px;
    border-top: none;
}

/*SOCIAL BUTTONS*/
/*=============================*/
#socialBtns{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.socialBtn{
    flex: calc(33% - 7.5px * 2 - 5px * 2 - 3px * 2);

    margin: 7.5px;
    padding: 10px 5px;
    border-radius: 5px;

    font-size: 25px;

    text-decoration: none;

    background: white;
    color: black;
    border: 3px solid black;
}

.socialBtn *{
    padding: 5px;
    
}

#sbTwitter{
    border-color: rgb(29, 161, 242);
    color: rgb(29, 161, 242);
}

#sbTwitter:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgb(29, 161, 242);
}

#sbYouTube{
    color: #c4302b;
    border-color: #c4302b;
}

#sbYouTube:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: #c4302b;
}

#sbTwitch{
    color: #6441a5;
    border-color: #6441a5;
}

#sbTwitch:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: #6441a5;
}

#sbReddit{
    border-color: #FF5700;
    color: #FF5700;
}

#sbReddit:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: #FF5700;
}

#sbPatreon{
    color: #f96854;
    border-color: #f96854;
}

#sbPatreon:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: #f96854;
}

#sbDiscord{
    color: #7289da;
    border-color: #7289da;
}

#sbDiscord:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: #7289da;
}

#sbCallousRow{
    flex: calc(50% - 5px*2 - 3px*2 - 7.5px*2);

    color: #e416fb;
    border-color: #e416fb;
    background: #080808;
}

#sbCallousRow img{
    width: 35px;
    padding: 0px 5px;
}

#sbCallousRow:hover{
    border-color: #080808;
    color: #080808;
    background: #e416fb;
}

#sbCallousRow:hover img{
    filter: brightness(0);
}

#sbWorldAnvil{
    flex: calc(50% - 5px*2 - 3px*2 - 7.5px*2);

    color: #FFFFFF;
    border-color: #FFFFFF;
    background: #c4302b;
}

#sbWorldAnvil img{
    width: 30px;
    padding: 0px 5px;
    filter: brightness(0) invert(1);
}

#sbWorldAnvil:hover{
    border-color: #c4302b;
    color: #c4302b;
    background: #FFFFFF;
}

#sbWorldAnvil:hover img{
    filter: invert(0);
}

#sbMerch{
    flex: 100%;

    color: #080808;
    border-color: #080808;
    background: #FFFFFF;
}

#sbMerch:hover{
    border-color: #FFFFFF;
    color: #FFFFFF;
    background: #080808;
}

.endgame{
    text-align: center;
    padding: 10px;

    border-radius: 15px;

    background: rgb(8, 8, 8);
    
    color: white;
}

/*Countdown*/
/*=============================*/
#countdown{
    font-size: 50px;
    text-align: center;

    background: rgb(8, 8, 8);

    color: white;
    padding: 5px;
}

#showName{
    margin-top: 10px;
    padding: 10px;
}

#cdDisplay{
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 100px;
}

/*SCHEDULE*/
/*=============================*/
#schedule{
    background-color: rgb(8, 8, 8);
}

#schedule h1{
    font-size: 3em;

    margin: 10px;
    margin-top: 0px;
    padding: 10px;

    color: white;
}

.row{
    min-height: 50px;
    height: auto;
    overflow:auto;
    margin: 0px 10px;
    padding: .5em;
    

    font-size: 35px;

    color: white;

    border-bottom: 2px solid white;
}
    .row:first-of-type{
        border-top: 2px solid white;
    }
    .row:last-of-type{
        border-bottom: none;
    }

.gameInfo{
    padding: 10px;
    display: flex;
    align-items: center;
}
    .gameInfo:last-of-type{
        margin-bottom: 10px;
        border-bottom: none;
    }

    .gameInfo *{
        display: inline-block;
    }

    .gameInfo *:first-of-type{
        margin-right: .5em;
        width: 80%;
    }


.label{
    float: left;
    width: calc(20% - 40px);
    padding: 10px 20px;
}

.data{
    float: left;
    width: calc(80% - 21px);
}

@media only screen and (max-width: 700px) {
    body{
        background-color: rgba(0,0,0,0);
    }

    .container{
        width: auto;
        margin: 10px;
        padding: 10px;
    }

    #cdDisplay{
        font-size: 65px;
    }

    .label{
        padding-left: 0px;
    }

    .socialBtn{
        flex: calc(50% - 7.5px*2 - 5px*2 - 3px*2);
    }
}

@media only screen and (max-width: 600px) {

    #sbWorldAnvil{
        flex: 100%;
    }

    #sbCallousRow{
        flex: 100%;
    }

    #schedule h1{
        text-align: center;
    }

    .label{
        width: calc(100% - 20px*2);
        border-bottom: 2px solid rgb(55, 55, 55);
        border-top: 2px solid white;
    }

    .row{
        text-align: center;
        border-bottom: none;
        padding: 0;
    }
        .row:first-of-type{
            border-top: none;
        }

    .data{
        width: 100%;
        border: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 450px) {
    #showName{
        font-size: 25px;
    }

    #schedule h1{
        width: 90%;
        
    }

    .socialBtn{
        flex: 100%;
    }
}