@font-face {
    font-family: dolbak;
    src: url(assets/fonts/TheDolbak-Brush.ttf);
}
/* 
    Quick-Hacks/Temporary
*/
.news p .socialBtn{
    font-size: 1em;

    padding: .5rem;
    margin: 0 auto;

    max-width: 150px;

    display: flex;
    align-content: center;
    justify-content: center;
}

/* 
==============
   Global Styles
============== 
*/
:root {
    --color700: black;
    --color400: grey;
    --textColor: white;
}

img{
    max-width: 100%;
}

/* Currently used for nav dropdown animation */
i{
    transition: transform .3s, -webkit-transfrom .3s;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;

    padding: 1rem;
    border-bottom: 4px solid currentColor;
    margin: 0;
}

/* Typography */
/* ====================================== */
html{
    font-family: dolbak, sans-serif;

    color: var(--textColor);

    background-image: url(assets/25pxSpace_blue.png); 
}

body,
.section{
    color: inherit;
}

/* Layout */
/* ====================================== */
html, body{
    margin: 0;

    min-height: 100% !important;
    min-width: 100%;    

    overflow: auto;
}

.container{
    margin: 0 auto;
    padding: .5rem 1.5rem;

    max-width: 600px;
}

.section{
    margin-top: 2rem;

    border: black solid 3px;
    box-shadow: 0 0 0 4px currentColor,
                0 0 0 7px #000;

    background: rgb(255, 255, 255);
}
    .section:not(:first-child){
        background: black;
        border: none;
    }
    .section:first-of-type{
        margin-top: 5.5rem;
    }
    .section:last-of-type{
        margin-bottom: 2rem;
    }

/* Components */
/* ====================================== */

/* Top of Page Banner */
#banner{
    border-bottom: black solid 3px;
}


/* Social Buttons */
#socialBtns{
    display: flex;
    flex-wrap: wrap;

    padding: 10px;
}

.socialBtn{
    display: flex;
    place-items: center;

    font-size: 25px;

    margin: .3rem;
    border: 3px solid black;
    border-radius: 5px;
    padding: .5rem;

    flex: 1;
    align-self: center;
    white-space: nowrap;

    text-decoration: none;
}
    .socialBtn-color-one{
        border: 3px solid var(--colorOne, black);

        color: var(--colorOne, black);
        background-color: white;
    }
    .socialBtn-color-one:hover{
        border: 3px solid white;

        color: white;
        background-color: var(--colorOne); 
    }
    .socialBtn-color-two{
        border: 3px solid var(--colorOne, black);

        color: var(--colorOne, black);
        background: var(--colorTwo, white);
    }
    .socialBtn-color-two:hover{
        border: 3px solid var(--colorTwo, white);

        color: var(--colorTwo, white);
        background-color: var(--colorOne, black);
    }
    .socialBtn > *{
        padding: .5rem;
        padding-right: 1rem; 
    }
    /* Merch Store special padding */
    .socialBtn:last-of-type{
        padding-left: .2rem;
    }

#sbCallousRow,
#sbWorldAnvil{
    flex: 100%;
} 

#sbCallousRow img{
    width: 35px;
}
    #sbCallousRow:hover img{
        filter: brightness(0);
    }

#sbWorldAnvil:hover img{
    content:url("assets/worldAnvil.png");
} 

/* Countdown */
#countdown{
    font-size: 2rem;

    text-align: center;

    color: inherit; 
}

#showName{
    font-size: 1.5em;

    padding: 0 1rem;
    margin-top: 1rem;
}

#cdDisplay{
    font-size: 2em;

    padding: 0 1rem;
    padding-bottom: 1rem;
}

/* Schdeule */
#schedule{
    border: none;
    font-size: 1.2rem;
}
    #schedule h1{
        border: none;
    }

.row{
    display: flex;
    flex-direction: column;

    border-bottom: none;
    padding: .5rem 0;
}
    .row .label{
        text-align: center;
    }


.label{
    font-size: 1.3em;

    width: 100%;

    border-bottom: 2px solid currentColor;
    border-top: 4px solid currentColor;
}

.data{
    font-size: 1.2em;
}

.gameInfo{
    padding: .5rem 0px;
    
    text-align: center;
}
    .gameInfo *{
        display: inline-block;
        
    }
    .gameInfo *:first-child{
        margin-right: 1rem;
    }
    .gameInfo:not(:last-of-type){
        border-bottom: 1px solid currentColor;
    }

/* news section */
.news{
    font-size: 1rem;

    text-align: center;
}
    .news p{
        font-size: 1em;

        margin: 0;
        padding: .5rem 1rem;
    }
        .news p:not(:last-of-type){
            border-bottom: 1px solid currentColor;
        }


/* ====================================== */
/* Media Queries */
/* ====================================== */
@media(min-width: 30rem) {
    h1{
        font-size: 3rem;
    }

    #sbCallousRow,
    #sbWorldAnvil{
        flex: calc(50% - .5rem*2 - .3rem*2 - 3px*2);
    }

    #countdown{
        font-size: 3rem;
    }

    #schedule{
        font-size: 1.5rem;
    }

    .row{
        flex-direction: row;
        border-top: 4px solid currentColor;
    }
        .row .label{
            flex: 1;
            border: none;
            align-self: center;
        }
        .row .data{
            flex: 3;
            border-left: solid 2px currentColor;
        }
    
        .news{
            font-size: 2rem;
        }
            .news p{
                padding: 1rem 2rem;
            }
}