/* 
===============
   Global Styles
===============
*/
:root {
    --color700: #28273f;
    --color400: #4f4f7d;
}

img{
    max-width:100%;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

a{
    display: block;
    text-decoration: none;
    color: white;
    padding-bottom: 3px;
}

i{
    transition: transform .3s, -webkit-transfrom .3s;
}

/* 
==============
   Typography
============== 
*/
h1{
    margin: 0;
}

/* 
==============
   Layout
============== 
*/
header{
    position: fixed;
    z-index: 1;
    top: 0px;

    width: 100%;

    background-color: var(--color700);
    color: white;
    
    border-bottom: black solid 3px;
    box-shadow: 0 0 0 4px white,
                0 0 0 7px #000; 
}

body{    
    margin: 0;

    background-image: url(../assets/imgs/backgrounds/bg-intoTheMists.png);

    font-family: sans-serif;
    font-weight: 100;

    transition: ease-in .5s background-image;  
    color: white;
}

.container{
    width: 90%;
    max-width: 30rem;
    margin: 0 auto;
}

.section{
    margin-top: 2rem;
    background: rgb(255, 255, 255);
    color: white;
    border: black solid 3px;
    box-shadow: 0 0 0 4px white,
                0 0 0 7px #000; 

    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
    .section h1{ 
        padding-top: .5em;
        padding-bottom: 0;

        text-shadow: 1px 1px 3px rgb(22, 22, 22);
        color: var(--color400);

        font-size: 2em;
        text-align: center;
    }
    .section:nth-of-type(1){
        background-color: var(--color700);
    }
    .section:first-of-type{
        margin-top: 7rem;
    }
    .section:last-of-type{
        margin-bottom: 2rem;
    }

.flexColToRow{
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    /* justify-content: stretch; */
    width: 100%;

    letter-spacing: .08em;
}
    .flexColToRow > *{
        flex: 1;
    }
    
/* 
==============
   Components
============== 
*/

/* Top Img/Details Seciton */
.showCard{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    color: white;

    letter-spacing: .08em;

    transition: ease-in 5s display;

    background-color: hsl(241, 23%, 20%);
}
    .showCard > *{
        flex: 1;
    }


.imgCol{
    display: flex;
}

.infoCol{
    display: flex;
    justify-content: center;
    align-items: stretch;

    min-height: 220px;
    
    background-image: url("../assets/imgs/icons/intoTheMistsIcon.png");
    background-repeat: no-repeat;
    background-position: center;
    
}
    .infoCol > p{
        display: flex;
        place-content: center;
        align-items: center;
        text-align: center;

        width: 100%;
        padding: 1em;
        margin: 0;

        background: rgba(0, 0, 0, .2);
        text-shadow: 1px 1px 1px black;

        font-size: 1rem;
    }


/* Episodes Section */

/* Collection Group */
.fullCollection{
    display: flex;
    flex-direction: column;
    
    padding: .5em;
    margin: 1em 1.2em 0;
    border-radius: 2rem;

    background-color: var(--color400);
    color: white;
    
}
    .fullCollection h2{
        margin: 0;

        text-shadow: 1px 1px 3px var(--color700);

        font-size: 1em;
        align-self: center;
        text-align: center;
        flex: 1.5;
    }
    .fullCollection .subSection{
        padding: 0;
        
    }
    .fullCollection a{
        font-size: 1em;
    }

/* Individual Episodes */
.episode{
    display: flex;
    flex-direction: row;
    padding: .5em;
    background-color: var(--color700);
    margin: 1em .5em;
    border-radius: 2rem;
    color: white;
    border: solid 5px var(--color400);
    box-shadow: 2px 2px 2px var(--color700);
}
    .episode h1{
        color: white;
        padding: .1em .2em;
        position: absolute;
        z-index: 0;
        background-color: var(--color400);
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

.episodeImg{
    display: flex;
    border-radius: 1rem;
    width: calc(100% - 2px * 2);
    justify-content: flex-start;
}
    .episodeImg a{
        margin-bottom: 0;
    }
    .episodeImg img{
        border-radius: 1rem;
        border: 2px solid var(--color400);
    }

.episodeBtns{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
    .episodeBtns > *{
        padding: .5em;
    }
    .episodeBtns h2{
        margin-top: 0;
    }

.detailsGroup{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.detailsText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details{
    align-self: center;
    padding-top: .5em;
    padding-left: .5em;
    font-size: .9em;
    text-align: left;
    
}
    .details *{
        flex: 1;
        text-align: center;
        background-color: var(--color400);
        margin: .5em;
        border-radius: .5em;
    }

.tldwImg{
    max-width: 100px;
    max-height: 100px;
    border-radius: 1em;
    padding: .2em;
    cursor: default;
}

.tldwGif{
    cursor: pointer;
}

.tldwGif:hover{
    content: url("../assets/imgs/icons/tldw\(solid\).gif");
}

.subSection{
    display: flex;
    padding: .5em;
    margin-top: .5em;
    border-radius: 1rem;

    background-color: var(--color400);
    font-size: 1rem;
   
    align-items: center;

    text-shadow: 1px 1px 1px black;
}
    .subSection *{
        margin: 0;
        flex: 1;
    }
    .subSection h2{
        flex: 2;
        
    }
    .subSection a{
        font-size: 1.5rem;
        align-self: center;
        text-align: center;
        padding: .2em;
    }
    .subSection a:hover{
        color: var(--color700);
        text-shadow: none;
    }

.unavailable{
    color: var(--color700);
    text-shadow: none;
}
/* 
==============
   Media Queries
============== 
*/
@media (min-width: 25rem) {
    .section .flexColToRow h1{
        font-size: 3em;
    }

    .details{
        font-size: 1em;
    }
}

@media (min-width: 60rem) {
    .container{
        max-width: 60rem;
    }

    .section .flexColToRow h1{
        padding-left: .5em;

        font-size: 3.5em;
        text-align: left;
    }

    .flexColToRow{
        flex-direction: row;
    }

    .fullCollection{
        flex-direction: column;
        flex: .5;
        margin: 1em 1em 0;
    }

    .episodeImg img{
        max-height: 300px;
    }

    .episodeImg{
        justify-content: flex-end;
    }

    .episode h1{
        position: relative;
        background-color: transparent;
        border-radius: 0;
        padding-right: .5em;
    }

    .episodeBtns{
        padding-left: .5em;
    }

    
    .detailsGroup{
        justify-content: space-between;
    }

    .details{
        align-self: flex-start;
    }

    .subSection h2{
        flex: 1;
    }
    .subSection a{
        font-size: 1rem;
        align-self: center;
        text-align: center;
        padding: .5em;
    }

    .icon-youtube:after{
        content: "YouTube";
        font-size: .9em;
    }

    .icon-twitch:after{
        content: "Twitch";
        font-size: .9em;
    }

    .icon-discord:after{
        content: "Discord";
        font-size: .9em;
    }

    .icon-mp4:after{
        content: "MP4s";
        font-size: .9em;
    }
}