/*
======================================
    TABLE OF CONTENTS
======================================
    0. Quick-Hacks/Temporary
    1. Global Styles 
    2. Typography
    3. Layout
    4. Components
        4.1 Top Img/Details Section
        4.2 Episodes Section
            4.21 Full Collections Group
            4.22 Individual Episodes 
    5. Media Queries
        5.1 Tablet
        5.2 Desktop
*/

/* 
======================================
   1. Global Styles
====================================== 
*/
:root {
    --color700: #28273f;
    --color400: #4f4f7d;
    --textColor: white;
}

img {
    max-width: 100%;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

/*
====================================== 
    2. Typography 
======================================
*/
html {
    font-family: "Roboto", sans-serif;
}

h1 {
    margin: 0;
}

/*
======================================
    3.Layout 
======================================
*/
body {
    margin: 0;

    font-family: sans-serif;
    font-weight: 100;
    color: white;

    transition: ease-in 0.5s background-image;
}

.container {
    max-width: 30rem;
    width: 90%;
    margin: 0 auto;
}

.section {
    border: black solid 3px;
    margin-top: 2rem;

    font-size: 1.5em;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0 4px white, 0 0 0 7px #000;
    color: white;
}
.section h1 {
    padding-top: 0.5em;
    padding-bottom: 0;

    text-align: center;
    font-size: 2em;

    color: var(--color400);

    text-shadow: 1px 1px 3px rgb(22, 22, 22);
}

.section:nth-of-type(1) {
    background-color: var(--color700);
}

.section:first-of-type {
    margin-top: 7rem;
}

.section:last-of-type {
    margin-bottom: 2rem;
}

.flexColToRow {
    display: flex;
    flex-direction: column;

    width: 100%;

    letter-spacing: 0.08em;
}
.flexColToRow > * {
    flex: 1;
}

/* 
======================================
    4. Components 
======================================
*/

/*===== 4.1 Top Img/Details Section =====*/
.showCard {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    letter-spacing: 0.08em;

    background-color: hsl(241, 23%, 20%);

    color: white;

    transition: ease-in 5s display;
}
.showCard > * {
    flex: 1;
}

.imgCol {
    display: flex;
}

.infoCol {
    display: flex;
    justify-content: center;
    align-items: stretch;

    min-height: 220px;

    background-image: url("../../assets/imgs/icons/intoTheMistsIcon.png");
    background-position: center;
    background-repeat: no-repeat;
}

.infoCol > p {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 1em;
    margin: 0;
    text-align: center;

    font-size: 1rem;

    background: rgba(0, 0, 0, 0.2);
    place-content: center;
    text-shadow: 1px 1px 1px black;
}

/*===== 4.2 Episodes Section =====*/

/*==  4.21 Full Collections Group ==*/
.fullCollection {
    display: flex;
    flex-direction: column;

    padding: 0.5em;
    border-radius: 2rem;
    margin: 1em 1.2em 0;

    background-color: var(--color400);
    color: white;
}
.fullCollection h2 {
    align-self: center;
    flex: 1.5;
    margin: 0;
    text-align: center;

    font-size: 1em;

    text-shadow: 1px 1px 3px var(--color700);
}
.fullCollection .subSection {
    padding: 0;
}
.fullCollection a {
    font-size: 1em;
}

/*== 4.22 Individual Episodes ==*/
/* Episode Container */
.episode {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    border: solid 5px var(--color400);
    border-radius: 2rem;
    margin: 1em 0.5em;
    background-color: var(--color700);
    box-shadow: 2px 2px 2px var(--color700);
    color: white;
}
.episode h1 {
    position: absolute;
    padding: 0.1em 0.2em;
    background-color: var(--color400);
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color: white;
    z-index: 0;
}

/* Episode Image */
.episodeImg {
    display: flex;
    justify-content: center;
    width: calc(100% - 2px * 2);
    border-radius: 1rem;
}
.episodeImg a {
    margin-bottom: 0;
}
.episodeImg img {
    border: 2px solid var(--color400);
    border-radius: 1rem;
}

/* Episode Information Container */
.episodeBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}
.episodeBtns > * {
    padding: 0.5em;
}
.episodeBtns h2 {
    margin-top: 0;
}

/* Episode Text Information Container */
/* (Used for Air Date: & Duration: ROWS) */
.detailsGroup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

/* This div is needed to place the text and Gif side by side */
/* .detailsText{} */

/* Indvidual Text Lines */
.details {
    align-self: center;

    padding-top: 0.5em;
    padding-left: 0.5em;
    text-align: left;
    font-size: 0.9em;
}
.details * {
    flex: 1;
    border-radius: 0.5em;

    margin: 0.5em;

    text-align: center;

    background-color: var(--color400);
}

/* TLDW Icon */
/* (Icon w/ giff next to air date/duration) */
.tldwImg {
    max-height: 100px;

    max-width: 100px;
    padding: 0 0.2em;
    border-radius: 1em;

    cursor: pointer;
}

.tldwGif:hover {
    content: url("../../assets/imgs/icons/tldw\(solid\).gif");
}

/* Button Containers */
.subSection {
    display: flex;
    align-items: center;

    padding: 0.5em;
    border-radius: 1rem;
    margin-top: 0.5em;
    font-size: 1rem;

    background-color: var(--color400);

    text-shadow: 1px 1px 1px black;
}
.subSection * {
    flex: 1;
    margin: 0;
}
.subSection h2 {
    flex: 2;
}
.subSection a {
    align-self: center;

    padding: 0.2em;
    text-align: center;
    font-size: 1.5rem;
}
.subSection a:hover {
    color: var(--color700);
    text-shadow: none;
}

.unavailable {
    color: var(--color700);
    text-shadow: none;
}

/* 
======================================
   5. Media Queries
====================================== 
*/

/* 5.1 Tablet */
@media (min-width: 25rem) {
    .section .flexColToRow h1 {
        font-size: 3em;
    }
}

/* 5.2 Desktop */
@media (min-width: 60rem) {
    /*===== Layout =====*/
    .container {
        max-width: 60rem;
    }

    .section .flexColToRow h1 {
        padding-left: 0.5em;
        text-align: left;

        font-size: 3.5em;
    }

    .flexColToRow {
        flex-direction: row;
    }

    /*===== Components =====*/
    /* Episodes Section */

    /* Full Collections Section */
    .fullCollection {
        flex-direction: column;
        flex: 0.5;
        margin: 1em 1em 0;
    }

    /* Individual Episodes */
    .episodeImg img {
        max-height: 300px;
    }

    .episodeImg {
        justify-content: flex-end;
    }

    .episode h1 {
        position: relative;
        padding-right: 0.5em;
        border-radius: 0;
        background-color: transparent;
    }

    .episodeBtns {
        padding-left: 0.5em;
    }

    .detailsGroup {
        justify-content: space-between;
    }

    .details {
        align-self: flex-start;
    }

    .subSection h2 {
        flex: 1;
    }
    .subSection a {
        display: flex;
        align-self: center;
        padding: 0.5em;
        text-align: center;
        font-size: 1rem;
    }
    .subSection a::after {
        align-self: center;
    }

    .icon-youtube:after {
        content: "YouTube";
        font-size: 0.9em;
    }

    .icon-twitch:after {
        content: "Twitch";
        font-size: 0.9em;
    }

    .icon-discord:after {
        content: "Discord";
        font-size: 0.9em;
    }

    .icon-mp4:after {
        content: "MP4s";
        font-size: 0.9em;
    }
}
