@font-face {
    font-family: dolbak;
    src: url(assets/fonts/TheDolbak-Brush.ttf);
}

/* 
==============
   Global Styles
============== 
*/
:root {
    --color700: #28273f;
    --color400: #4f4f7d;
    --textColor: #ffffff;
}

img{
    max-width: 100%;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

i{
    transition: transform .3s, -webkit-transfrom .3s;
}


/* 
==============
   Typography
============== 
*/
h1{
    padding: .5rem;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    margin: 0;
    padding: .5rem;
}


/*Navbar*/
/*=============================*/
nav{
    display: flex;
    flex-direction: column;
    visibility: visible;
    padding: .4em 0;
    justify-content: center;

    font-size: 25px;
    letter-spacing: .15em;
    color: white;
    cursor: pointer;
}

.nav__link, 
.nav__dropdown, 
.nav__dropdown-group{
    display: block;
    text-decoration: none;
    color: inherit;
    padding: .1em;
    padding-bottom: .3em;
    border-bottom: solid 2px var(--color700);
}

.nav_homeBtn{
    padding: .1em 0em;
    padding-bottom: .3em;
}

.links{
    display: none;
}

.navBtn{
    position: fixed;
    top: .6em;
    right: 1.4em;
}

.nav__dropdown-group{
    padding-bottom: .2em;
}

.nav .nav__link:first-child{
    margin-left: 0;
}

/* dropdown */
.nav__dropdown{
    display: block;
}
.nav__dropdown-name, .nav__dropdown-group-name{
    text-decoration: none;
    color: inherit;
}

.nav__dropdown-links{
    visibility: hidden;
    display: none;
    
    top: 2.49em;
    margin-left: .5em;
    padding: .5em;
    background-color: var(--color700);
}
    .nav__dropdown-links .nav__link{
        margin: 0;
    }

.nav__dropdown-group-links{
    display: none;
    padding-left: 1em;
    padding-top: .5em;
}
    .nav__dropdown-group-links *{
        padding: .5em 0;
        border-bottom: solid 2px currentColor;
    }

.nav__active_visible + *{
    visibility: visible;
}

.nav__active_block + *{
    display: block;
}

.nav__active_visible i,
.nav__active_block i{
    transform: rotate(180deg);
    
}

.nav__dropdown-group-name i,
.nav__dropdown-name i{
    margin-left: -7px;
}



/* 
==============
   Layout
============== 
*/
header{
    position: fixed;
    top: 0px;

    width: 100%;

    background-color: var(--color700);
    color: white;
    
    border-bottom: black solid 3px;
    box-shadow: 0 0 0 4px white,
                0 0 0 7px #000; 
}



body{    
    margin: 0;

    font-family: sans-serif;
    font-weight: 100;

    transition: ease-in .5s background-image;
    
    color: white;
}



.container{
    width: 90%;
    max-width: 30rem;
    margin: 0 auto;
}

.section{
    margin-top: 2rem;
    background: white;
    color: black;
    border: black solid 3px;
    box-shadow: 0 0 0 4px white,
                0 0 0 7px #000; 
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
    header .section{
        border: none;
    }
    .section:first-of-type{
        margin-top: 7rem;
    }
    .section:last-of-type{
        margin-bottom: 2rem;
    }

.show{
    --color700: #000000;
    --color400: hsl(0, 0%, 20%);
    --name: "defaultName";
}

.showCard{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding: .5em;
    margin: 3rem 1rem 0 1rem;
    border-radius: 1rem;

    background-color: var(--color700);
    color: white;

    letter-spacing: .08em;

    box-shadow: 0 0 0 6px var(--color400),
                0 0 0 10px var(--color700);

    /* transition: ease-in 5s display; */
}
    .showCard:last-child{
        margin-bottom: 1.5rem;
    }
    .showCard > *{
        flex: 1;
    }


.imgCol{
    display: flex;
}
    .imgCol img{
        border-radius: .5rem;
    }

.infoCol{
    display: flex;
    justify-content: center;
    align-items: stretch;

    min-height: 220px;
    padding-top: .5em;
    
    background-repeat: no-repeat;
    background-position: center;
}
    .infoCol > p{
        display: flex;
        text-align: center;
        align-items: center;

        min-height: 230px;
        padding: 1em;
        margin: 0;
        border-radius: .5rem;

        background: rgba(0, 0, 0, .2);

        font-size: 1rem;
    }

.buttonBar{
    display: flex;
    margin: .5rem;

    
}
    .buttonBar button{
        flex: 1;

        height: 50px;

        margin: .5em;

        border-radius: .8rem;
        border: none;

        background-color: var(--color700);
        background-image: url(../assets/imgs/icons/arrowIcon.png);
        background-repeat: no-repeat;
        background-position: center;

        cursor: pointer;
    }

    .buttonBar button:first-child{
        transform: rotate(180deg);
    }

/* 
==============
   Overriding Classes
============== 
*/
.hide{
    display: none;
}

.unavailable{
    opacity: .9 !important;
    pointer-events: none !important;
}

/* 
==============
   Media Queries
============== 
*/
@media (min-width: 65.5rem) {
    .container{
        max-width: 60rem;
    }

    .showCard{
        flex-direction: row;
    }

    .infoCol{
        padding-top: 0;
        padding-left: .5em;
    }
}

/* NavBar Media Queries */
@media only screen and (min-width: 550px){
    nav{
        flex-direction: row;
        justify-content: space-between;
    }

    .navBtn{
        display: none;
    }

    .links{
        display: flex;
        padding-left: 1.4em;
        
        flex-direction: row;
        justify-content: space-between;
    }

    .links > *{
        padding: 0 1em;
        padding-top: .1em;
    }

    .nav__dropdown-group-links *{
        padding: .5em 0;
        border-bottom: none;
    }

    .nav__dropdown-links{
        margin-left: -.5em;
        position: absolute; 
        border-left: black solid 3px;
        border-right: black solid 3px;
        border-bottom: black solid 3px;
        box-shadow: 4px 4px currentColor,
                    -4px 4px currentColor,
                    7px 7px black,
                    -7px 7px black;
    }
    
    .nav__link:hover, 
    .nav__dropdown:hover{
        border-bottom: solid 2px currentColor;
    }
}